.contenedor{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: center;
    gap: 20px;
    background-color: rgb(229, 184, 128);
    padding: 20px;
}

.item{

    background-color: rgb(218, 108, 163);
    color: rgb(10, 10, 10);
    padding: 20px;
    flex: 1 0 100px;
    text-align: center;
    border-radius: 8px;
}

.especial{
    align-self: center;
    background-color: rgb(16, 123, 92);
}
