.grid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    background-color: rgb(235, 189, 152);
    padding: 20px;
}

.item{

    background-color:rgb(150, 20, 52);
    color: rgb(224, 225, 231);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
